<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        p {
            margin: 0
        }
    </style>
</head>
<body class="container">
<h1>Customer Form</h1>
<div class="row">
    <div class="col-md-4">
        <form action="#" th:action="@{/save-new-movie}" th:object="${newMovie}" method="post">
            <div class="form-group">
                <label for="originalTitle">Original Title:</label>
                <input type="text" class="form-control" placeholder="Enter Original Title" id="originalTitle" th:field="*{originalTitle}"/>
            </div>
            <div class="form-group">
                <label for="norwegianTitle">Norwegian Title:</label>
                <input type="text" class="form-control" placeholder="Enter Norwegian Title" id="norwegianTitle" th:field="*{norwegianTitle}"/>
            </div>
            <div class="form-group">
                <label for="runningTime">Running Time:</label>
                <input type="text" class="form-control" placeholder="Enter Running Time in minutes" id="runningTime" th:field="*{runningTime}"/>
            </div>
            <div class="form-group">
                <label for="releaseDate">Release date:</label>
                <input type="text" class="form-control" placeholder="Enter Release date (yyyy-mm.dd)" id="releaseDate" th:field="*{releaseDate}"/>
            </div>
            <div class="form-group">
                <label for="ageLimit">Age limit:</label>
                <input type="text" class="form-control" placeholder="Enter age limit" id="ageLimit" th:field="*{ageLimit}"/>
            </div>
            <div class="form-group">
                <label for="productionYear">Production Year:</label>
                <input type="text" class="form-control" placeholder="Enter Production Year" id="productionYear" th:field="*{productionYear}"/>
            </div>
            <div class="form-group">
                <label for="summary">summary:</label>
                <input type="text" class="form-control" placeholder="summary" id="summary" th:field="*{summary}"/>
            </div>
            <div class="form-group">
                <label for="categoryOid">Select category:</label>
                <select id="categoryOid" th:field="*{categoryOid}">
                    <option value=""> -- </option>
                    <option th:each="category : ${categories}"
                            th:value="${category.oid}"
                            th:utext="${category.title}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div>
</body>
</html>