<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        p {
            margin: 0
        }
    </style>
</head>
<body class="container">
<h1>Import Actor's</h1>
<div class="row">
    <div class="col-md-4">
        <form action="#" th:action="@{/import-actor}" th:object="${manage}" method="post">
            <div class="form-group">
                <label for="movieOid">Movie Oid</label>
                <input type="text" class="form-control" id="movieOid" th:field="*{oid}"/>
            </div>
            <textarea name="news_content" rows="20" cols="80" th:field="*{text}"></textarea>
            <div th:if="${!roleTypes.isEmpty()}">
                <div class="form-group">
                    <label for="number">Select Role Type:</label>
                    <select id="number" th:field="*{number}">
                        <option value="">0</option>
                        <option th:each="roleType : ${roleTypes}"
                                th:value="${roleType.oid}"
                                th:utext="${roleType.title}">
                        </option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4" style="margin-top:1px">
        <a th:href="@{|/getMovie/${manage.oid}|}" class="btn btn-primary"
           role="button">Cancel</a>
    </div>
</div>

</body>
</html>