<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        p {
            margin: 0
        }
    </style>
</head>
<body class="container">
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12" style="margin-top:1px">
            <h1>Movie Info</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin-top:1px">
            <p th:text="'Orginal Tittle: ' +  ${movieAllInfo.movie.originalTitle}"/>
            <p th:text="'Norvegian Tittle: ' +  ${movieAllInfo.movie.norwegianTitle}"/>
            <p th:text="'Age Limit: ' +  ${movieAllInfo.movie.ageLimit} + ' year'"/>
            <p th:text="'Production Year: ' +  ${movieAllInfo.movie.productionYear}"/>
            <p th:text="'Length: ' +  ${movieAllInfo.movie.runningTime} + ' min'"/>
            <!--p th:text="'Release date: ' +  ${dates.format(movieAllInfo.movie.releaseDate, 'yyyy-MM-dd')}"/-->
            <p th:text="'Release date: ' +  ${movieAllInfo.movie.releaseDate}"/>
            <p th:text="'Summary: '"/>
            <p th:text="${movieAllInfo.movie.summary}"/>

            <br>
            <h2>Categories</h2>
            <div th:if="${movieAllInfo.categoriesAsString != null}">
                <p th:text="${movieAllInfo.categoriesAsString}"/>
            </div>
            <br>
            <a href="/movieHome" class="btn btn-primary" role="button">Add Category</a>
        </div>

        <div class="col-md-6" style="margin-top:1px">
            <h2>Directors's</h2>
            <div th:if="${!movieAllInfo.directorsToMovie.isEmpty()}">
                <div th:each="directorToMovie : ${movieAllInfo.directorsToMovie}">
                    <a th:text="${directorToMovie.firstName} + ' ' + ${directorToMovie.lastName}"
                       th:href="@{|/getPerson/${directorToMovie.personOid}|}"/>
                </div>
            </div>
            <br>
            <a href="/movieHome" class="btn btn-primary" role="button">Add Director</a>
            <br>
            <br>
            <h2>Actor's</h2>
            <div th:if="${!movieAllInfo.actorsToMovie.isEmpty()}">
                <div th:each="actorToMovie : ${movieAllInfo.actorsToMovie}">
                    <div th:if="${actorToMovie.characterName != null}">
                        <a th:text="${actorToMovie.firstName} + ' ' + ${actorToMovie.lastName} + ' As ' + ${actorToMovie.characterName}"
                           th:href="@{|/getPerson/${actorToMovie.personOid}|}"/>
                    </div>
                    <div th:if="${actorToMovie.characterName == null}">
                        <a th:text="${actorToMovie.firstName} + ' ' + ${actorToMovie.lastName}"
                           th:href="@{|/getPerson/${actorToMovie.personOid}|}"/>
                    </div>
                </div>
            </div>
            <br>
            <a href="/movieHome" class="btn btn-primary" role="button">Add Actor</a>
        </div>
        <br>

    </div>
    <br>
    <div class="row">
        <div class="col-md-2" style="margin-top:1px">
            <a href="/movieHome" class="btn btn-primary" role="button">Home</a>
        </div>
        <div class="col-md-2" style="margin-top:1px">
            <div><a data-toggle="modal" data-target="#modal-warning"
                    th:attr="data-target='#modal-warning'+${movieAllInfo.movie.oid }" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
</body>

<div class="modal modal-warning fade in" th:id="modal-warning+${movieAllInfo.movie.oid }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Delete Movie</h5>
            </div>
            <div class="modal-body">
                <h3>Are you sure want to delete this movie?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-outline" th:href="@{/deleteMovie/{id}(id=${movieAllInfo.movie.oid})}"><i
                        class="fa fa-check"></i>&nbsp;Yes</a>
            </div>
        </div>
    </div>
</div>


</html>